<div class="form-container">

  <!--TITLE-->
  <div class="my-3 mx-4">
    <h1>{{componentInfo?.action}} categoria {{componentInfo?.name}}</h1>
  </div>

  <!--Create Section-->
  <form class="initial-form" [formGroup]="categoryForm" (ngSubmit)="nextStage()">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="titulo" formControlName="name" [disabled]="false"
        [(ngModel)]="urlPersonalized">
      <label for="floatingInput">Nombre de la categoria</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="titulo" [disabled]="true" [value]="formattedText">
      <label for="floatingInput">URL</label>
    </div>

    <div class="bit-sectio mb-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="option1"
          formControlName="type">
        <label class="form-check-label" for="inlineRadio1">Tipo Ingenieria</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="option2"
          formControlName="type">
        <label class="form-check-label" for="inlineRadio2">Tipo Manufactura</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="option3"
          formControlName="type">
        <label class="form-check-label" for="inlineRadio3">Tipo Productos</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="inlineRadio4" value="option4"
          formControlName="type">
        <label class="form-check-label" for="inlineRadio4">Tipo Certificaciones</label>
      </div>
    </div>

    <div class="mb-3">
      <label for="">Descripcion</label>
      <div class="mb-3">
        <editor apiKey="pdmcwg4496yv6p8pfgeue5qew4yqbpgszy9ycv6tgf1pwdxd" [init]="config" formControlName="description">
        </editor>
      </div>
    </div>

    <div class="mb-3">
      @if(fileBanner.url) {
      <div class="banner">
        <img src="{{fileBanner.url}}" alt="" class="banner">
        <div class="edit_btn">
          <i class="material-icons" (click)="removeImage()">delete</i>
          <i class="material-icons" (click)="editImage()">edit</i>
        </div>
      </div>
      } @else {

      <div class="item">
        <div class="file-input-container">
          <button type="button" class="btn btn-success" (click)="generateClickToFile()">
            <i class="material-icons">add</i>
          </button>
          <input title="image" type="file" accept="image/*" class="file-input" id="file-input"
            (change)="saveImage($event)">
        </div>
      </div>
      }
    </div>

    <button type="button" class="btn btn-danger confirm-button mx-1" (click)="goTo('editor')">Cancelar</button>
    <button type="submit" class="btn btn-success confirm-button mx-1">Crear</button>
  </form>

  <!--

    <p>{{componentInfo?.type}}</p>

  <form action="">

    <div class="grid">
      <div class="mb-3">
        <label for="">Descripcion</label>
        <div class="mb-3">
          <editor apiKey="pdmcwg4496yv6p8pfgeue5qew4yqbpgszy9ycv6tgf1pwdxd" [init]="config"
            formControlName="descripcion">
          </editor>
        </div>
      </div>

      @for (file of fileArray; track file; let i = $index) {
      <div class="item" id="img">
        <img src="{{file.url}}" alt="image" />
        <div class="edit_btn">
          <i class="material-icons" (click)="removeImageFromFileArray(file.fileId)">delete</i>
          <i class="material-icons" (click)="changeImageFromFileArray(file.fileId)">edit</i>
        </div>
      </div>
      } @empty {
      <div class="item">
        <p>No hay imagenes</p>
      </div>
      }

      <div class="item">
        <div class="file-input-container">
          <button type="button" class="file-input-button" (click)="generateClickToFile()">
            <i class="material-icons">add</i>
          </button>
          <input title="image" type="file" accept="image/*" class="file-input" id="file-input"
            (change)="addImageToFileArray($event, fileArray.length + 1)">
        </div>
      </div>
    </div>

  </form>
  -->

</div>
