<div class="contenedor mx-3 py-3">
  <h1>Editar Pagina</h1>

  <div class="button-container mb-3">
    <button mat-fab extended type="button" class="btn btn-success main-add-button"
      (click)="goTo(typeList)"><mat-icon>add</mat-icon> Agregar {{typeTitle}}</button>
    @if(typeList === 'seccion') {
    <button mat-fab extended type="button" class="btn btn-primary main-add-button"
      (click)="goBack()"><mat-icon>arrow_back</mat-icon> Regresar a categoria</button>
    } @else if(typeList === 'subseccion') {
    <button mat-fab extended type="button" class="btn btn-primary main-add-button"
      (click)="goBack()"><mat-icon>arrow_back</mat-icon> Regresar a seccion</button>
    }
  </div>

  @if(typeList === 'categoria') {
  @for (categoria of categorias; track categoria) {
    
    <mat-card class="mb-3">
      <mat-card-header>
        <mat-card-title>{{ categoria.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        @if (categoria.has_sections) {
          <button mat-fab extended type="button" class="btn btn-primary option-button mx-2"
          (click)="getSections(categoria)"><mat-icon class="me-1">app_registration</mat-icon>Secciones</button>
        }
        @if(!categoria.is_default){
        <button mat-fab extended type="button" class="btn btn-danger option-button mx-2"
        (click)="deleteProcess(categoria.id, typeList)"><mat-icon class="me-1">delete</mat-icon>Delete</button>
        }
      <button mat-fab extended type="button" class="btn btn-warning option-button mx-2"
        (click)="editProcess(categoria.id)"><mat-icon class="me-1">edit</mat-icon>Edit</button>
    </mat-card-actions>
  </mat-card>
  }
  } @else if(typeList === 'seccion') {
  @for (seccion of secciones; track seccion) {
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>{{ seccion.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
      <!-- TODO solo las secciones de la categoria tipo B o manufactura pueden tener subsecciones -->
       @if(categorySelected.type == "B"){

         <button mat-fab extended type="button" class="btn btn-primary option-button mx-2"
         (click)="getSubsections(seccion)"><mat-icon class="me-1">app_registration</mat-icon>Subsecciones</button>
        }
      <button mat-fab extended type="button" class="btn btn-danger option-button mx-2"
        (click)="deleteProcess(seccion.id, typeList)"><mat-icon class="me-1">delete</mat-icon>Delete</button>
      <button mat-fab extended type="button" class="btn btn-warning option-button mx-2"
        (click)="editProcess(seccion.id)"><mat-icon class="me-1">edit</mat-icon>Edit</button>
      <!--AQUI VA LA FUNCION editProcess-->
    </mat-card-actions>
  </mat-card>
  }
  } @else if(typeList === 'subseccion' && categoryTypeSelected == 'B') {
  @for (subseccion of subsecciones; track subseccion) {
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>{{ subseccion.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-fab extended type="button" class="btn btn-danger option-button mx-2"
        (click)="deleteProcess(subseccion.id, typeList)"><mat-icon class="me-1">delete</mat-icon>Delete</button>
      <button mat-fab extended type="button" class="btn btn-warning option-button mx-2"
        (click)="editProcess(subseccion.id)"><mat-icon class="me-1">edit</mat-icon>Edit</button>
      <!--AQUI VA LA FUNCION editProcess-->
    </mat-card-actions>
  </mat-card>
  }
  } @else {
  <p>NO PAGE AVAILABLE</p>
  }
</div>