<div class="form-container">
  <!--TITLE-->
  <div class="my-3 mx-4">
    <h1>{{componentInfo?.action}} seccion {{componentInfo?.name}}</h1>
  </div>

  <form class="initial-form" [formGroup]="sectionForm" (ngSubmit)="submitStage()">
    <!--TITULO-->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="titulo" formControlName="title" [disabled]="false"
        [(ngModel)]="urlPersonalized">
      <label for="floatingInput">Nombre de la seccion</label>
    </div>
    <!--URL-->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="URL" [disabled]="true" [value]="formattedText">
      <label for="floatingInput">URL</label>
    </div>
    <!--DESCRIPCION-->
    @if(componentInfo.type != "C"){
    <div class="mb-3">
      <label for="">Descripcion</label>
      <div class="mb-3">
        <editor [apiKey]="apiKey" [init]="config" formControlName="description">
        </editor>
      </div>
    </div>
    }

    @if(componentInfo.type != "A" && componentInfo.type != "C"){
    <!--IMAGEN-->
    <div class="mb-3">
      <h5>Agregar imagen de banner</h5>
      @if(presntationFile.url) {
      <div class="banner">
        <img src="{{presntationFile.url}}" alt="" class="banner">
        <div class="edit_btn">
          <i class="material-icons" (click)="removePresentationFile()">delete</i>
        </div>
      </div>
      } @else {
      <div class="item">
        <div class="file-input-container">
          <button type="button" class="btn btn-warning btn-width" (click)="generateClickToFile('presentation')">
            <i class="material-icons me-2">attachment</i> Agregar imagen de presentacion
          </button>
          <input title="image" type="file" accept="image/*" class="file-input" id="file-input-presentation"
            (change)="presentationFileChange($event)">
        </div>
      </div>
      }
    </div>

    <!--ARCHIVO-->
    <div class="mb-3">
      <h5>Agregar archivos</h5>
      @if(sectionFile?.name) {
      <div class="file-info">
        <h5>{{sectionFile.name}}</h5> <button class="btn btn-danger delete-file-btn ms-2" type="button"
          (click)="removeFile($event)"><mat-icon>deleteasdfasdf</mat-icon></button>
      </div>
      } @else {
      <div class="item">
        <div class="file-input-container">
          <button type="button" class="btn btn-warning btn-width" (click)="generateClickToFile('document')">
            <i class="material-icons me-2">attachment</i> Agregar archivo
          </button>
          <input title="image" type="file" accept="application/pdf" class="file-input" id="file-input-document"
            (change)="sectionFileChange($event)">
        </div>
      </div>
      }
    </div>
    }
    <!--ARRAY DE IMAGENES-->
    @if(componentInfo.type == "A" || componentInfo.type == "C"){

    <div class="mb-3">
      <h5>Agregar imagenes</h5>
      <div class="image-grid">
        @for (file of fileArray; track file.fileId) {
        <div class="item-array">
          <img [src]="file.url" alt="image" />
          <div class="edit_btn_array">
            <i class="material-icons" (click)="removeImageFromFileArray(file.fileId)">delete</i>
          </div>
        </div>
        }
      </div>
      @if(fileArray.length === 0) {
      <div class="item">
        <p>No hay imagenes</p>
      </div>
      }

      <div class="item mt-2">
        <div class="file-input-container">
          <button type="button" class="btn btn-warning file-input-button btn-width"
            (click)="generateClickToFile('array')">
            <i class="material-icons me-2">add</i> Agregar Imagen
          </button>
          <input title="image" type="file" accept="image/*" class="file-input" id="file-input-array"
            (change)="addImageToFileArray($event, fileArray.length + 1)">
        </div>
      </div>
    </div>
    }
    <!-- ID SECCION -->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="titulo" formControlName="idSeccion" [hidden]="true">
    </div>
    <!-- ID SUBSECCION -->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="titulo" formControlName="idSubseccion" [hidden]="true">
    </div>
    <button type="button" class="btn btn-danger confirm-button mx-1" (click)="goTo('editor')">Cancelar</button>
    <button type="submit" class="btn btn-success confirm-button mx-1">{{componentInfo?.action}}</button>

  </form>
</div>

@if(loading){
<app-loading></app-loading>
}