<div class="contenedor">
  <h1>Bienvenido {{usuario}}</h1>

  <h2 #time></h2>

  <img src="/Logo_Andamios-Atlas.png" alt="">

  <div class="conjunto">
    <a href="proveedores" class="link">
      <img src="/proveedor.svg" alt="">
      Proveedores
    </a>
    <a href="clientes" class="link">
      <img src="/cliente.svg" alt="">
      Clientes
    </a>
  </div>

  <div class="creditos">
    <small>Admin Panel Andamios Atlas v3</small>
    <br>
    <small>Para mas ayuda leer el manual de usuario</small>
  </div>
</div>


